input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: 8px 14px;
	color: $color__text-main;
	border: 2px solid $color__border;
	background: rgba(255,255,255,0.35);

	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding-box;
	        background-clip: padding-box;

	-webkit-transition: all ease-in-out .15s;
	   -moz-transition: all ease-in-out .15s;
	    -ms-transition: all ease-in-out .15s;
	     -o-transition: all ease-in-out .15s;
	        transition: all ease-in-out .15s;

	&:focus {
		outline: none;
		border-color: $color__border-focus;
		background: rgba(255,255,255,0.50);

		-webkit-background-clip: padding-box;
	       -moz-background-clip: padding-box;
	            background-clip: padding-box;
	}
}

select {
	border: 1px solid $color__border;
}

textarea {
	width: 100%;
}
