h1, h2, h3, h4, h5, h6, legend, table th {
	font-family: $font__heading;
	font-weight: 700;
	clear: both;

	a {
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}
}
