$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__link: #c4962d;
$color__link-visited: #c4962d;
$color__link-hover: #333;
$color__text-main: #333;
$color__text-secondary: #777;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-abbr: #666;
$color__border: rgba(0, 0, 0, 0.07);
$color__border-focus: rgba(0, 0, 0, 0.25);
